[Desktop Entry]
Comment=Beautiful and Elegant Aurorae Theme
Name=ElegantBreeze
X-KDE-PluginInfo-Author=Gnufabio
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-Name=ElegantBreeze
X-KDE-PluginInfo-Version=1.1.1
X-KDE-PluginInfo-Website=www.gnufabio.tk
